
  

  body {
    font-family: 'Syne Mono', monospace;
    background-image: url("images/starss.jpg") ;
    background-color: #f0f0f0;
    background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-position: center; 
  color: rgb(119, 114, 255);
  }
  
  .header {
    background-color: #333;
    color: #fff;
    padding: 10px ;
    text-align: center;
    font-size: 50px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  

  .wavytext {

   font-weight: bold;
   font-size: 30px;
  }

  .locationtext{
font-size: 30px;
    font-weight: bolder;
    color: rgb(255, 191, 0);
    letter-spacing: 3px;
    padding-left: 30px;
    padding-top: 90px;
    

  }

  .locationtext2{
text-align: center;
    font-weight: bolder;
    color: rgb(255, 191, 0);
    letter-spacing: 3px;
    padding-left: 80px;
    padding-top: 90px;
    font-size: 30px;
    

  }

  .locationtext3{
    text-align: left;
        font-weight: bolder;
        color: rgb(255, 191, 0);
        letter-spacing: 3px;
        padding-left: 80px;
        padding-top: 300px;
        font-size: 30px;
        
    
      }



.small {
    width: 200px;
    height: 250px; 
    padding-left: 60px;
    padding-top: 40px;
    transform: rotate(-20deg);
    z-index: 3;
  }

  .girlfeet{

    width: 180px;
    height: 150px; 
    z-index: 2; 

  }
  
  .styledsong{

    padding-left: 20px;
  }

  .youtubevideo{

    padding: 40px;

  }

  .hall1{
    width: 450px;
    height: 300px; 
    padding-left: 60px;
    padding-top: 40px;
    z-index: 3;

  }



.square-container {
    width: 1100px;
    height: 80px; 
    text-align: right;
    z-index: 3;
  }
  
  .line {
    color: gold;
    font-size: 100px; 
    line-height: 1.2; 
    margin-bottom: 5px; 
  }
  

  .babyfeet{

    width: 180px;
    height: 250px; 
    z-index: 2;

  }

  .panda{


    width: 320px;
    height: 280px; 
    padding-left: 20px;
    z-index: 4;
  }

  .houston{
    width: 820px;
    height: 400px; 
    padding-left: 20px;
    z-index: 4;

  }

  .rooster{
    width: 300px;
    height: 310px; 
    z-index: 4;
    margin-top: 120px;
    margin-left: -150px;
  }

  .bob{
    width: 360px;
    height: 310px; 
    z-index: 4;
    margin-top: 120px;
    margin-left: -150px;
  }

  .square-container2 {
    width: 1100px;
    height: 80px; 
    text-align: left;
    z-index: 3;
  }

  .woman{

    width: 420px;
    height: 310px; 
    z-index: 4;
    margin-top: 120px;
    margin-left: 150px;

  }


  .mocaa{
    width: 380px;
    height: 160px; 
    z-index: 4;
    margin-top: 120px;
    margin-left: 150px;
  }


  .subway{
    width: 380px;
    height: 260px; 
    margin-top: 120px;
    margin-left: 150px;
  }


  .locationtext4{
    text-align: left;
        font-weight: bolder;
        color: rgb(255, 191, 0);
        letter-spacing: 3px;
        padding-left: 80px;
        padding-top: 100px;
        font-size: 30px;
        
    
      }

      .lacma{
        width: 1500px;
        height: 280px; 
        margin-top: 120px;
        margin-left: 150px;

      }

      .picasso{
        width: 400px;
        height: 480px; 
        margin-top: -450px;
        margin-left: 150px;

      }


      .diego{
        width: 400px;
        height: 480px; 
        margin-top: -150px;
        margin-left: 150px;

      }

      .boring{
        width: 300px;
        height: 280px; 
        margin-top: -10px;
        margin-left: 150px;
        transform: rotate(-20deg);

      }

      .wash{

        width: 420px;
        height: 310px; 
        z-index: 4;
        margin-top: 120px;
        margin-left: -10px;
    
      }

      .endtext{
        font-weight: bold;
        font-size: 40px;
        padding-left: 100px;
        padding-top: 100px;

      }

      .rusel{
        width: 350px;
        height: 300px; 
        margin-top: -200px;
        margin-left: 550px;

      }

